/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  min-height: 100%;
  font-size: 62.5%;
}
.gradient {
  background-image: linear-gradient(to bottom, rgba(158, 193, 233, 0.685), rgba(178, 221, 221, 0.308));
}
.h2SizeAndFont {
  font-size: 5rem;
  font-family: Arial, Helvetica, san-serif;
  margin-bottom: 5rem;
}
.sectionStyle {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 5rem;
  background: whitesmoke;
  padding: 2rem;
  margin: 5rem;
  border-radius: 1rem;
}
body {
  background-image: linear-gradient(to bottom, rgba(158, 193, 233, 0.685), rgba(178, 221, 221, 0.308));
  background-repeat: no-repeat;
}
header {
  width: 100%;
  background: #f2f4f7;
  padding: 2rem;
}
header nav {
  font-size: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header nav h1 {
  font-family: Arial, Helvetica, san-serif;
  color: #393939;
  font-weight: bold;
}
header nav a {
  font-size: 3rem;
  color: #191919;
  text-decoration: none;
  font-family: Arial, Helvetica, san-serif;
  padding: 0.5rem;
}
header a:hover {
  animation-name: buttonChange;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}
.intro {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 5rem;
  background: whitesmoke;
  padding: 2rem;
  margin: 5rem;
  border-radius: 1rem;
}
.intro img {
  max-width: 80rem;
  max-height: 60vh;
  border-radius: 3rem;
}
.intro div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 60rem;
  margin: 0 2rem;
}
.intro div h2 {
  font-size: 5rem;
  font-family: Arial, Helvetica, san-serif;
  margin-bottom: 5rem;
}
.intro div p {
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 5rem;
}
.intro div a {
  align-self: flex-start;
  font-size: 3rem;
  background: whitesmoke;
  padding: 1rem;
  border-radius: 0.3rem;
  color: #393939;
  text-decoration: none;
  font-family: Arial, Helvetica, san-serif;
  border: 0.3rem solid #000;
}
@keyframes buttonChange {
  to {
    background: #fae;
    box-shadow: -4px 4px #393939;
  }
}
.intro div a:hover {
  animation-name: buttonChange;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
.intro div .buttons {
  width: 80%;
  margin-left: 0;
  align-self: flex-start;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skills {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5rem;
  background: whitesmoke;
  padding: 2rem;
  margin: 5rem;
  border-radius: 1rem;
}
.skills h2 {
  font-size: 5rem;
  font-family: Arial, Helvetica, san-serif;
  margin-bottom: 5rem;
}
.skills .firstP {
  border-bottom: 1px solid #000;
  padding-bottom: 1rem;
}
.skills p {
  font-size: 2.5rem;
  max-width: 60rem;
  line-height: 1.2;
  margin: 1rem 2rem 1rem 0;
}
.skills .skillsimg {
  margin-left: 0;
}
.skills .skillsimg img {
  max-width: 50rem;
  border-radius: 4rem;
}
.workHistory {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 5rem;
  background: whitesmoke;
  padding: 2rem;
  margin: 5rem;
  border-radius: 1rem;
  flex-direction: column;
}
.workHistory h2 {
  font-size: 5rem;
  font-family: Arial, Helvetica, san-serif;
  margin-bottom: 5rem;
}
.workHistory .one {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2.5rem;
  max-width: 60rem;
  margin: 1rem 2rem 1rem 0;
  background: #12121212;
}
.workHistory .one div {
  margin: 0 2rem;
}
span {
  font-family: Arial, Helvetica, san-serif;
  font-weight: bold;
}
